{% extends 'base.html' %}
{% block title %} Landing page {% endblock %}
{% block content %}

  <!-- Hero Section -->
  {% include 'landing_page/hero/hero.html' %}

  <!-- About Section  -->
  {% include 'landing_page/about_us/about.html' %}     

  <!-- Alt Features Section -->
  {% include 'landing_page/features/features.html' %}

  <!-- Services Section -->
  {% include 'landing_page/services/services.html' %}

  <!-- Pricing Section -->
  {% include 'landing_page/pricing/pricing.html' %}

  <!-- Portfolio Section -->
  {% include 'landing_page/portfolio/portfolio.html' %}

  <!-- Testimonials Section -->
  {% include 'landing_page/testimonial/testimonial.html' %}

  <!-- Team Section -->
 {% include 'landing_page/team/team.html' %}

  <!-- Contact Section -->
  {% include 'landing_page/contact/contact.html' %}

{% endblock %}